<head>
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="jquery.scrollex.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
  				<span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
			</div>
		</div>
		<div class="row">
			<div class="col">
  				<span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
			</div>
		</div>
	</div>
</body>

<script>

//con esto manejo los eventos del scroll
$(function() {
  $('#foobar').scrollex({
    enter: function() {

      // Set #foobar's background color to green when we scroll into it.
        $(this).css('background-color', 'green');

    },
    leave: function() {

      // Reset #foobar's background color when we scroll out of it.
        $(this).css('background-color', '');

    }
  });
});


</script>
